@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(143 139 139) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.main {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main h1 {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 15px;
  color: #ef4765;
}

.container {
  width: 420px;
  height: 500px;
  background: linear-gradient(to bottom right, #ef476599, #ff9a5ac7);
  border: 2px solid #00000033;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.calc-display,
.input {
  font-size: 2rem;
  color: #fff;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(to bottom right, #ef476599, #ff9a5ac7);
}
.input{
  padding-left: 10px;
}

.all-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  border-radius: 15px;
}
.row {
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: space-around;
}

button {
  width: 85px;
  height: 55px;

  margin-top: 23px;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:hover{
  background: #c43a3aa1;
  transition: .5s ease-out;
}
